@import './_variables.css';

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

/* custom css */
body{
    font-size: 18px;
    color: #606060;
    overflow-x:hidden;
    font-family: "Poppins";
}

section{
    margin-bottom: 3.5rem;
}

.container{
    max-width: 1100px;
    margin:0 auto;
    position:relative;
}

.d-block{
    display: block;
}

.text-center{
    text-align:center !important;
}

.text-bold{
    font-weight:bold;
}

.header{
    margin-bottom: 2rem;
}

.header span{;
    display: block;
    margin-top: 1.2rem;
    font-size: 22px;
    font-weight: 500;
}

.section-header{
    font-size: 27px;
    font-weight: 600;
    text-align:center;
    color: #404040;
    display:inline-block;
    font-family: "Mt Semi";
}

.section-header::after{
    content:'';
    display:block;
    width: 30%;
    margin:0 auto;
    padding-top: 7px;
    border-bottom: 3px solid var(--secondaryColor)
}

/* end custom css */

/* header styles */
header#header{
    width: 100vw;
    height:100vh;
    margin-bottom: 3.5rem;
}

#jssor_1{
    width:100vw !important;
    height: 100vh !important;
}

#jssor_1 .slides{
    width:100vw !important;
    height: 100vh !important;
}

#jssor_1 .slides div{
    width:100vw !important;
    height: 100vh !important;
}

.slides img{
    width:100% !important;
    height:100% !important;
    cursor:pointer;
    filter: brightness(.4)
}
/* end header styles */