@import './_variables.css';

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

/* custom css */
body{
    font-size: 18px;
    color: #606060;
    overflow-x:hidden;
    font-family: "Poppins";
    background-color: #ededed;
}

section{
    margin-bottom: 3.5rem;
    position:relative;
}

.container{
    max-width: 1100px;
    margin:0 auto;
    position:relative;
}

.d-block{
    display: block;
}

.full-width{
    min-width: 100%;
}

.text-center{
    text-align:center !important;
}

.text-bold{
    font-weight:bold;
}

input.custom-input{
    width:100%;
    height: 38px;
    outline:none;
    border:none;
    padding: 10px;
    color: #606060 !important;
    border-radius: 7px;
    font-size:16px;
}

.card{
    width:100%;
    padding: 25px;
    border-radius: 15px;
    position:relative;
    background-color: #fff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, .2)
}

.card .card-body .card-title{
    font-family: "Poppins Medium";
    font-size: 22px;
    color: #404040;
    margin-bottom: 1rem;
}

.card .card-body p{
    margin-bottom: 2rem;
}

.header{
    margin-bottom: 2rem;
}

.header span{;
    display: block;
    margin-top: 1.2rem;
    font-size: 22px;
    font-weight: 500;
}

.section-header{
    font-size: 27px;
    font-weight: 600;
    text-align:center;
    color: #404040;
    display:inline-block;
    font-family: "Mt Semi";
}

.section-header::after{
    content:'';
    display:block;
    width: 30%;
    margin:0 auto;
    padding-top: 7px;
    border-bottom: 3px solid var(--secondaryColor)
}

.btn{
    text-decoration:none;
    outline: none;
    border:none;
    padding: 12px 22px;
    cursor:pointer;
    font-size: 18px;
    font-family: "Mt Semi";
    border-radius: 10px;
    text-align:center;
}

.btn-primary{
    background-color: var(--primaryColor);
    color: #fafafa;
    transition:all .5s
}

.btn-primary:hover{
    background-color: #651734;
}

.btn-secondary{
    background-color: var(--secondaryColor);
    color: #fafafa;
    transition:all .5s
}

.btn-secondary:hover{
    background-color: #956436;
}

/* end custom css */

/* header styles */
header#header{
    width: 100vw;
    height:100vh;
    margin-bottom: 3.5rem;
}

#jssor_1{
    width:100vw !important;
    height: 100vh !important;
}

#jssor_1 .slides{
    width:100vw !important;
    height: 100vh !important;
}

#jssor_1 .slides div{
    width:100vw !important;
    height: 100vh !important;
}

.slides img{
    width:100% !important;
    height:100% !important;
    cursor:pointer;
    filter: brightness(.4)
}

header#header .container{
    color: #fafafa;
    position: absolute;
    top:50%;
    left: 10%;
    transform: translateY(-50%);
}

header#header .container h1{
    font-size: 47px;
    font-weight: bold;
    font-family: "Mt Bold";
    margin-bottom: .6rem;
    text-shadow: 2px 2px 4px rgba(255, 255 , 255, .4);
}

header#header .container span{
    font-size: 22px;
    margin-bottom: 2.4rem;
}
/* end header styles */

/* news section styles */
section#news .content{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 25px;
}

section#news .card .card-body a{
    display: block;
}
/* end news section styles */

/* save date section styles */

section#save_date{
    width:100vw;
    height:45vh;
    background-color: var(--primaryColor);
    color: #fafafa;
}

section#save_date .container{
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%)
}

section#save_date h2{
    margin-bottom: 1rem;
}

section#save_date .countdown{
    font-size: 28px;
    font-family: "Mt Bold";
    margin-top: 1.8rem;
}

/* end save date section styles */

/* about us section styles */
section#aboutUs .content{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 30px;
}

section#aboutUs .img-company{
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
}

section#aboutUs .img-company img{
    width:100%;
    height: 100%;
    cursor: pointer;
    transition:all .5s
}

section#aboutUs .img-company img:hover{
    transform:scale(1.4) rotate(7deg);
}
/* end about us section styles */

/* footer styles */
footer#footer{
    background-color: var(--primaryColor);
    padding: 25px;
    color: #fafafa;
}

footer#footer .content{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    grid-gap: 30px;
}

footer#footer .subscribe input.custom-input{
    width: 80%;
    margin: 1rem auto;
    display: block;
}

footer#footer .subscribe button{
    display: block;
    font-size: 16px;
    margin:0 auto;
    padding: 7px 14px;
}

footer#footer .content div h4{
    margin-bottom: 1rem;
}

.copyright{
    margin-top: 2rem;
}

.norm_row{
    margin-left: 2rem;
}
/* end footer styles */

/* sidebar styles */
aside#sidebar{
    z-index: 999;
    width: 40vw;
    height: 100vh;
    min-height: 100vh;
    position:fixed;
    top:0;
    left:-32.2%;
    transition:all 1s;
}

aside#sidebar.active{
    left:0;
}

aside#sidebar h3{
    margin: 2rem 0;
}

aside#sidebar .content{
    width: 80%;
    height:100%;
    background-color: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .4);
    overflow-y:scroll;
    padding: 18px;
}

aside#sidebar .toggler{
    position:absolute;
    top:50%;
    left:85%;
    transform:translate(-55%, -50%);
    background-color: #fff;
    padding: 0 12px;
    cursor:pointer;
    transition: all .5s;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    user-select: none;
}

aside#sidebar .toggler:hover{
    background-color: #d4d4d4;
}

.toggler span{
    font-size: 45px;
    font-weight:bold;
}

aside#sidebar .content .sponsor-wrapper{
    display:grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 12px;
}

aside#sidebar .sponsor{
    margin-bottom: 1.5rem;
}

aside#sidebar .sponsor img{
    width:100%;
    height: 120px;
    margin-bottom: .6rem;
}
/* end sidebar styles */