@import './_variables.css';

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

/* custom css */
body{
    font-size: 18px;
    color: #606060;
    overflow-x:hidden;
    font-family: "Poppins";
}

section{
    margin-bottom: 3.5rem;
}

.container{
    max-width: 1100px;
    margin:0 auto;
    position:relative;
}

.d-block{
    display: block;
}

.text-center{
    text-align:center !important;
}

.text-bold{
    font-weight:bold;
}

.header{
    margin-bottom: 2rem;
}

.header span{;
    display: block;
    margin-top: 1.2rem;
    font-size: 22px;
    font-weight: 500;
}

.section-header{
    font-size: 27px;
    font-weight: 600;
    text-align:center;
    color: #404040;
    display:inline-block;
    font-family: "Mt Semi";
}

.section-header::after{
    content:'';
    display:block;
    width: 30%;
    margin:0 auto;
    padding-top: 7px;
    border-bottom: 3px solid var(--secondaryColor)
}

.btn{
    text-decoration:none;
    outline: none;
    border:none;
    padding: 12px 22px;
    cursor:pointer;
    font-size: 18px;
    font-family: "Mt Semi";
    border-radius: 10px;
}

.btn-primary{
    background-color: var(--primaryColor);
    color: #fafafa;
    transition:all 1s
}

.btn-primary:hover{
    background-color: #651734;
}

/* end custom css */

/* header styles */
header#header{
    width: 100vw;
    height:100vh;
    margin-bottom: 3.5rem;
}

#jssor_1{
    width:100vw !important;
    height: 100vh !important;
}

#jssor_1 .slides{
    width:100vw !important;
    height: 100vh !important;
}

#jssor_1 .slides div{
    width:100vw !important;
    height: 100vh !important;
}

.slides img{
    width:100% !important;
    height:100% !important;
    cursor:pointer;
    filter: brightness(.4)
}

header#header .container{
    color: #fafafa;
    position: absolute;
    top:50%;
    left: 10%;
    transform: translateY(-50%);
}

header#header .container h1{
    font-size: 47px;
    font-weight: bold;
    font-family: "Mt Bold";
    margin-bottom: .6rem;
    text-shadow: 2px 2px 4px rgba(255, 255 , 255, .4);
}

header#header .container span{
    font-size: 22px;
    margin-bottom: 2.4rem;
}
/* end header styles */